  <link rel="stylesheet" href="stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src='javascripts/templates.js'></script>

  <script src="javascripts/gallery.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel='stylesheet' href='stylesheets/images.css' />
</head>
<body>
  <header>
  
  </header>
  <main class="personal Profile">

    <h1 class='section-heading'>Hey, <%= @name%></h1>
    <section id='photos'>
    <% if !@photos.empty?%>
      <h2>These are your photos:</h2>
        <% @photos.each do |photo| %>
          <% photo[:voted]%>
          <figure>
            <section class='image'>
              <img src="<%== photo[:src]%>">
            </section>
            <section class="vote-area">
              <figcaption><%== photo[:name]%></figcaption>
              <h3>Current number of votes: <strong class="vote-count"><%== photo[:votes] || 0 %></strong></h3>
              <% if photo[:liked] %>
                <p class='voted'>voted</p>
              <% else %>
                <p class="vote-button" data-id="<%== photo[:id] %>">You can vote for your own dish...</p>
              <% end %>
            </div>
          </figure>
        <% end %>
      <% else%>
        <h2>You haven't submitted an image yet.</h2>
      <%end%>
    </section>
    <a id='upload-button' href='#'>Submit an image?</a>
    <h1 class='section-heading' style='display:none;'>Upload Form</h1>
    <form style='display:none;' id="image-upload" action="/add/image" method="POST">
      <input type="file" name="image" id="image" required>
      <input type="text" name="name" id="name" required>
      <input type="hidden" id="imageData" name="imageData" required>
      <button type="submit">Upload Image</button>
    </form>
  </main>
  <script>
    refresh('header');
    refresh('flash');
    $('#upload-button').click(function(event) {
      event.preventDefault();
      refresh('upload-form')
    });
  </script>
</body>